@page
@model SmukToolsApp.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>

<p>
    <a asp-page="Create" class="btn-sm btn btn-outline-primary">Add New Event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Project
            </th>
            <th>
                Event Title
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Event) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Project.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" class="btn-sm btn-outline-primary" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" class="btn-sm btn-outline-dark" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" class="btn-sm btn-outline-danger" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
